[submodule "models/fractal-head-attention"]
	path = models/fractal-head-attention
	url = git@github.com:evintunador/fractal-head-attention.git
[submodule "models/templateGPT"]
	path = models/templateGPT
	url = git@github.com:evintunador/templateGPT.git
