[submodule "models/fractal-head-attention"]
	path = models/fractal-head-attention
	url = git@github.com:evintunador/fractal-head-attention.git
[submodule "models/templateGPT"]
	path = models/templateGPT
	url = git@github.com:evintunador/templateGPT.git
[submodule "models/MemoryMosaics"]
	path = models/MemoryMosaics
	url = git@github.com:evintunador/MemoryMosaics.git
[submodule "models/FutureFormer"]
	path = models/FutureFormer
	url = git@github.com:evintunador/FutureFormer.git
