[submodule "models/fractal-head-attention"]
	path = models/fractal-head-attention
	url = git@github.com:evintunador/fractal-head-attention.git
[submodule "models/customGPT"]
	path = models/customGPT
	url = git@github.com:evintunador/customGPT.git
